Install packages:

1. Spacy-model for word embedding
  - Convert article content into word vectors
  - https://github.com/explosion/spacy-models/releases//tag/en_core_web_lg-2.2.5
  - Installation
    pip install spacy
    python -m spacy download en_core_web_lg
  
2. 

